@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: "Raleway-italic";
    src: url(../fonts/Raleway-Italic-VariableFont_wght.woff);
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-VariableFont_wght.woff);
    src: url(../fonts/Raleway-VariableFont_wght.ttf) format("truetype");
}

:root {
    --background-color: #782221;
    --background-title-color: #dbc2a4;
    --background-address-color: #2c1d27;
    --font-size-text: 0.9em;
    --font-size-h2: 1.2em;
}

body {
    width: 1160px;
    height: auto;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: var(--background-color);
    height: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.portrait {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.portrait__picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px white;
}

.portrait__picture:hover {
    cursor: zoom-in;
}

.name {
    margin-top: 30px;
    margin-bottom: 0;
    font-family: "lato", serif;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    margin-top: 25px;
    font-family: "lato", serif;
    font-size: 1.2em;
}

main {
    min-height: 900px;
    display: grid;
    grid-template: 80px / repeat(10, 10%);
}

address {
    grid-column: 1 / 11;
    background-color: var(--background-address-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: "Raleway";
    font-size: 0.9em;
}

address a:link {
    color: white;
    text-decoration: none;
}

address a:visited {
    color: white;
}

address a:hover {
    text-decoration: underline;
}

.mail {
    margin: 0 20% 0 20%;
}

.about_me {
    grid-column: 1 / 4;
    background-color: var(--background-color);
}

.about_me h2 {
    box-sizing: border-box;
    background-color: var(--background-title-color);
    width: 91%;
    font-family: "lato", serif;
    line-height: 1.5;
    padding-left: 20px;
    font-size: var(--font-size-h2);
    vertical-align: bottom;
}

.about_me__about {
    margin-right: 30px;
    margin-bottom: 10%;
}

.about_me__about_text {
    box-sizing: border-box;
    color: white;
    width: 91%;
    font-family: "raleway";
    font-size: var(--font-size-text);
    text-align: justify;
    padding-left: 20px;
    text-indent: 25px;
    margin-right: auto;
    line-height: 1.2;
}

.about_me__spoken_languages {
    margin-right: 30px;
    margin-bottom: 10%;
}

.about_me__spoken_languages__list {
    color: white;
    font-family: "raleway";
    font-size: var(--font-size-text);
    line-height: 1.5;
}

.about_me__center_of_interest {
    margin-right: 30px;
    margin-bottom: 10%;
}

.about_me__center_of_interest__list {
    color: white;
    font-family: "raleway";
    font-size: var(--font-size-text);
    line-height: 1.5;
}

.resume {
    box-sizing: border-box;
    grid-column: 4 / 11;
    border-right: 2px solid black;
    margin-left: 30px;
}

.resume h2 {
    background-color: var(--background-title-color);
    box-sizing: border-box;
    height: 30px;
    width: 97%;
    font-family: "lato", serif;
    line-height: 1.7;
    font-size: var(--font-size-h2);
    padding-left: 15px;
    position: relative
}

/* le :before permet de mettre la couleur rouge avant les titre h2 de la section "resume" */
.resume h2:before {
    background-color: var(--background-color);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 6px;
    z-index: 3;
}

.resume__professional_experiences__first_experience {
    width: 97%;
    font-family: "Raleway", serif;
    font-size: var(--font-size-text);
    margin-bottom: 7%;
    position: relative;
    transition: all 0.4s ease;
}

/* Les :after et :hover:after permet de mettre la couleur rouge lors du survole de la souris */
.resume__professional_experiences__first_experience:after {
    background-color: var(--background-color);
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
    transition: height 0.4s ease-in;
}

.resume__professional_experiences__first_experience:hover:after {
    width: 6px;
    height: 100%;
}

.resume__professional_experiences__first_experience__list {
    line-height: 1.5;
}

.resume__professional_experiences__second_experience {
    width: 97%;
    font-family: "Raleway", serif;
    font-size: var(--font-size-text);
    margin-bottom: 7%;
    position: relative;
    transition: all 0.4s ease;
}

.resume__professional_experiences__second_experience:after {
    background-color: var(--background-color);
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
    transition: height 0.4s ease-in;
}

.resume__professional_experiences__second_experience:hover:after {
    width: 6px;
    height: 100%;
}

.resume__professional_experiences__second_experience__list {
    line-height: 1.5;
}

.resume__diplomas__first_diplomas {
    width: 97%;
    font-family: "Raleway", serif;
    font-size: var(--font-size-text);
    margin-bottom: 7%;
    position: relative;
    transition: all 0.4s ease;
}

.resume__diplomas__first_diplomas:after {
    background-color: var(--background-color);
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
    transition: height 0.4s ease-in;
}

.resume__diplomas__first_diplomas:hover:after {
    width: 6px;
    height: 100%;
}

.resume__skill__list {
    width: 97%;
    font-family: "Raleway", serif;
    font-size: var(--font-size-text);
    margin-bottom: 7%;
    line-height: 1.5;
    position: relative;
    transition: all 0.4s ease;
}

.resume__skill__list:after {
    background-color: var(--background-color);
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
    transition: height 0.4s ease-in;
}

.resume__skill__list:hover:after {
    width: 6px;
    height: 100%;
}

footer {
    background-color: var(--background-color);
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__social {
    box-sizing: border-box;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.footer__social__github {
    max-height: 40px;
    max-width: 40px;
}

.footer__social__github__picture {
    height: 100%;
    width: 100%;
}

.footer__social__github__picture:hover {
    filter: opacity(80%);
}

.footer__social__linkedin {
    max-height: 40px;
    max-width: 40px;
}

.footer__social__linkedin__picture {
    height: 100%;
    width: 100%;
}

.footer__social__linkedin__picture:hover {
    filter: opacity(80%);
}

footer p {
    font-family: "Raleway", serif;
    color: white;
    font-size: 0.7em;
}