@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* @font-face {
    font-family: "Raleway-italic";
    src: url(../fonts/Raleway-Italic-VariableFont_wght.woff);
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf) format("truetype");
} */

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-VariableFont_wght.woff);
    src: url(../fonts/Raleway-VariableFont_wght.ttf) format("truetype");
}

:root {
    --background-color: #782221;
    --background-title-color: #dbc2a4;
    --background-address-color: #2c1d27;
}

body {
    width: 1160px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}



header {
    background-color: var(--background-color);
    height: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.portrait {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.name {
    margin-top: 30px;
    margin-bottom: 0;
    font-family: "lato", serif;
    font-size: 2em;
}

h1 {
    margin-top: 25px;
    font-family: "lato", serif;
    font-size: 1.2em;
}

.portrait__picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px white;
}

.portrait__picture:hover {
    cursor: zoom-in;
}

main {
    min-height: 1160px;
    display: grid;
    grid-template: 80px / repeat(8, 12.5%);
}

address {
    background-color: var(--background-address-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: "Raleway";
    font-size: 0.9em;
    grid-column: 1 / 9;
}

address a:link {
    color: white;
    text-decoration: none;
}

address a:visited {
    color: white;
}

.mail {
    margin: 0 20% 0 20%;
}

.about_me {
    grid-column: 1 / 4;
    background-color: var(--background-color);
}

.about_me h2 {
    background-color: var(--background-title-color);
    height: 30px;
    font-family: "lato", serif;
    font-size: 1.2em;
    text-indent: 25px;
    text-align: center;
}

.about_me__about_text {
    color: white;
}

.about_me__spoken_languages__languages {
    color: white;
}

.about_me__center_of_interest__list {
    color: white;
}

.resume {
    grid-column: 4 / 9;
}

footer a {
    background-color: black;
}

footer {
    display: flex;
    justify-content: center;
}